<div class="container">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Create Todo</h5>
    </div>
    <form [formGroup]="todoForm" (ngSubmit)="submitTodo()">
      <table class="table">
        <tr>
          <td>
            <div class="form-group">
              <label for="todoName">Todo Name</label>
              <input
                type="text"
                class="form-control"
                id="todoName"
                formControlName="name"
                placeholder="Enter name"
              />

              <small class="form-text text-danger">
                @if (todoForm.get('name')?.invalid && todoForm.get('name')?.touched) {
                  Required field
                }
              </small>

            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label for="todoDescription">Todo Description</label>
              <textarea
                class="form-control"
                id="todoDescription"
                formControlName="description"
                rows="3"
                placeholder="Enter description"
              ></textarea>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="btn btn-primary" [disabled]="todoForm.invalid">
              Submit
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>

  <table class="table mt-5">
    <thead class="thead-light">
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
      @for (todo of todos; track $index) {
    <tr>
      <td>
        <input type="checkbox" name="completed">
      </td>
      <td>{{ todo.name }}</td>
      <td>{{ todo.description }}</td>
      <td>
        <button class="btn btn-outline-primary btn-sm" aria-label="Edit">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm" aria-label="Delete" (click)="deleteTodo(todo.id!)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
      }
    </tbody>
  </table>

  <app-toast #toast></app-toast>
  <button (click)="showToast()">Show Toast</button>

  <nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
